
html, body {
  width: 200px;
}

.NASSetting  {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 0.5em;
  background-color: #E5F2F2;
  cursor: pointer;
}

.NASSetting:hover {
  background-color: #CFF2F2;
}
